@charset "utf8_unicode_ci";

@font-face {
	font-family: 'faruma';
	src: url('df/faruma.ttf') format ('truetype');
}

.rtl p{
font-family:"faruma";
font-size:18px;
text-align:right;
}

.rtl input{
font-family:"faruma";
font-size:18px;
text-align:right;
}